<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html "
      xmlns="http://www.w3.org/1999/html">
<div layout:fragment="SContent">
    rounded float-end
    <div class="card" style="width: 18rem;">
        <img src="https://www.technodom.kz/_next/image?url=https%3A%2F%2Fapi.technodom.kz%2Ff3%2Fapi%2Fv1%2Fimages%2F800%2F800%2F232901_1x.jpg&w=3840&q=85" class="rounded float-end">
        <div class="card-body">
            <h5 class="card-title">s21-ULTRA</h5>
            <p class="card-text">Смартфон Samsung Galaxy S21 Ultra 256GB Silver. Купить смартфон...
               </p>
            <a th:href="${''}"  class="btn btn-primary">more</a>
        </div>
    </div>
</div>
</html>
